/* ----------------------------------
 * Theme du projet (valeurs primitives)
 * ----------------------------------
 */
:root {
  /* Breakpoints (en dur) */
  --md: 48rem; /* 768px */
  --lg: 64rem; /* 1024px */
  --xl: 80rem; /* 1280px */
  --xxl: 96rem; /* 1536px */

  /* Couleurs globales */
  --color-white: oklch(100% 0 0);
  --color-black: oklch(0% 0 0);
  --color-gray-50: oklch(97.02% 0 89.8756);
  --color-gray-100: oklch(92.19% 0 89.8756);
  --color-gray-200: oklch(86.99% 0 89.8756);
  --color-gray-300: oklch(70.9% 0 89.8756);
  --color-gray-400: oklch(55.55% 0 89.8756);
  --color-gray-500: oklch(43.86% 0 89.8756);
  --color-gray-600: oklch(37.15% 0 89.8756);
  --color-gray-700: oklch(26.86% 0 89.8756);
  --color-gray-800: oklch(20.46% 0 89.8756);
  --color-gray-900: oklch(14.48% 0 89.8756);
  --color-error-200: oklch(92.05% 0.0424 39.8434);
  --color-error-300: oklch(70.37% 0.1879 27.7509);
  --color-error-500: oklch(50.6% 0.1899 27.6614);
  --color-error-700: oklch(38.52% 0.158 29.2339);
  --color-error-900: oklch(22.37% 0.0918 29.2339);
  --color-success-100: oklch(96.51% 0.0559 151.4603);
  --color-success-300: oklch(71.59% 0.1297 150.6326);
  --color-success-500: oklch(51.66% 0.13 150.739);
  --color-success-700: oklch(37.51% 0.116 145.5619);
  --color-success-900: oklch(23.63% 0.0804 142.4953);
  --color-warning-100: oklch(93.69% 0.0512 74.7366);
  --color-warning-300: oklch(79.4% 0.1416 57.8476);
  --color-warning-500: oklch(63.15% 0.1687 49.2794);
  --color-warning-700: oklch(48.52% 0.1567 38.619);
  --color-warning-900: oklch(33.2% 0.1029 40.6304);
  --color-color: oklch(100% 0 89.8756);

  /* Couleurs personnalisées (projet) - primitives synthétisées */
  --color-blue-400: oklch(67.47% 0.1725 259.6117);
  --color-blue-500: oklch(54.07% 0.1997 260.1494);
  --color-green-400: oklch(82.11% 0.1786 120.0286);
  --color-green-500: oklch(63.73% 0.1341 123.1529);
  --color-orange: oklch(62.48% 0.194 35.0652);
  --color-pink-300: oklch(82.28% 0.1095 346.0184);
  --color-pink-700: oklch(52.46% 0.199 3.9582);
  --color-slate-100: oklch(96.83% 0.0069 247.8956);
  --color-slate-800: oklch(27.95% 0.0368 260.031);

  /* Espacements */
  --spacing-0: 0;
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
  --spacing-48: 3rem;
  --spacing-56: 3.5rem;
  --spacing-80: 5rem;
  --spacing-128: 8rem;
  --spacing-160: 10rem;

  /* Border radius */
  --radius-none: 0;
  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-24: 1.5rem;
  --radius-full: 9999px;

  /* Typographie — Tailles de police */
  --text-12: 0.75rem;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-24: 1.5rem;
  --text-30: 1.875rem;
  --text-36: 2.25rem;
  --text-48: 3rem;
  --text-60: 3.75rem;
  --text-80: 5rem;

  /* Typographie - Familles de police */
  --font-base: system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;

  /* Typographie - Graisses de police */
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* Typographie — Hauteurs de lignes */
  --line-height-20: 1.25rem;
  --line-height-24: 1.5rem;
  --line-height-28: 1.75rem;
  --line-height-32: 2rem;
  --line-height-36: 2.25rem;
  --line-height-40: 2.5rem;
  --line-height-56: 3.5rem;
  --line-height-68: 4.25rem;
  --line-height-80: 5rem;
  --line-height-100: 6.25rem;

  /* Transitions et animations */
  --transition-duration: 300ms;

  /* Niveaux de z-index */
  --z-under-page-level: -1;
  --z-above-page-level: 1;
  --z-header-level: 1000;
  --z-above-header-level: 2000;
  --z-above-all-level: 3000;
}
