/* ----------------------------------
 * Theme-tokens, généré par primary.alsacreations.com
 * Surcouche de theme.css
 * Configuration :
 * - Couleur primaire : pink
 * - Theme : light et dark
 * - Typographie responsive : oui
 * - Espacements responsive : oui
 * ----------------------------------
 */
:root {
  /* Theme (color-scheme) */
  color-scheme: light dark;

  &[data-theme="light"] {
  color-scheme: light;
  }

  &[data-theme="dark"] {
  color-scheme: dark;
  }

  /* Couleur primaire */
  --primary: var(--color-pink-300);
  --on-primary: var(--color-white);
  --primary-lighten: oklch(from var(--primary) calc(l * 1.2) c h);
  --primary-darken: oklch(from var(--primary) calc(l * 0.8) c h);

  /* Surface du document */
  --surface: light-dark(var(--color-white), var(--color-gray-900));
  --on-surface: light-dark(var(--color-gray-900), var(--color-gray-100));
  --surface-dim: light-dark(var(--color-slate-100), var(--color-slate-800));
  --accent-blue: light-dark(var(--color-blue-500), var(--color-blue-400));
  --accent-green: light-dark(var(--color-green-500), var(--color-green-400));
  --accent-pink: light-dark(var(--color-pink-700), var(--color-pink-300));
  --accent-orange: light-dark(var(--color-orange), var(--color-orange));
  --on-surface2: light-dark(var(--color-gray-700), var(--color-gray-300));
  --layer: light-dark(var(--color-white), var(--color-gray-900));

  /* Tailles de police */
  --text-xs: clamp(var(--text-12), 0.7011rem + 0.2174vw, var(--text-14));
  --text-s: clamp(var(--text-14), 0.8261rem + 0.2174vw, var(--text-16));
  --text-m: clamp(var(--text-16), 0.9511rem + 0.2174vw, var(--text-18));
  --text-xl: clamp(var(--text-18), 0.9783rem + 0.6522vw, var(--text-24));
  --text-2xl: clamp(var(--text-24), 1.3533rem + 0.6522vw, var(--text-30));
  --text-4xl: clamp(var(--text-30), 1.4348rem + 1.9565vw, var(--text-48));
  --text-5xl: clamp(var(--text-36), 1.663rem + 2.6087vw, var(--text-60));
  --text-6xl: clamp(var(--text-36), 1.1739rem + 4.7826vw, var(--text-80));

  /* Hauteurs de lignes */
  --line-height-s: clamp(var(--line-height-20), 1.1522rem + 0.4348vw, var(--line-height-24));
  --line-height-m: clamp(var(--line-height-24), 1.4022rem + 0.4348vw, var(--line-height-28));
  --line-height-2xl: clamp(var(--line-height-32), 1.9022rem + 0.4348vw, var(--line-height-36));
  --line-height-5xl: clamp(var(--line-height-40), 1.8152rem + 3.0435vw, var(--line-height-68));
  --line-height-4xl: clamp(var(--line-height-40), 2.1087rem + 1.7391vw, var(--line-height-56));
  --line-height-6xl: clamp(var(--line-height-80), 4.5109rem + 2.1739vw, var(--line-height-100));

  /* Espacements */
  --spacing-xs: var(--spacing-4);
  --spacing-s: clamp(var(--spacing-8), 0.3043rem + 0.8696vw, var(--spacing-16));
  --spacing-m: clamp(var(--spacing-16), 0.6087rem + 1.7391vw, var(--spacing-32));
  --spacing-l: clamp(var(--spacing-24), 0.913rem + 2.6087vw, var(--spacing-48));
  --spacing-xl: clamp(var(--spacing-32), 0.8261rem + 5.2174vw, var(--spacing-80));

  /* Formulaires */
  --form-control-background: light-dark(var(--color-gray-200), var(--color-gray-700));
  --on-form-control: light-dark(var(--color-gray-900), var(--color-gray-100));
  --form-control-spacing: var(--spacing-12) var(--spacing-16);
  --form-control-border-width: 1px;
  --form-control-border-color: var(--color-gray-400);
  --form-control-border-radius: var(--radius-none);
  --checkables-border-color: var(--color-gray-400);
  --checkable-size: 1.25em;
}

