:root {
  /* Familles de police */
  --font-base: system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;

  /* Graisses de police */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* Tailles de police */
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-24: 1.5rem;
  --text-28: 1.75rem;
  --text-32: 2rem;
  --text-36: 2.25rem;
  --text-40: 2.5rem;
  --text-48: 3rem;
  --text-64: 4rem;
  --text-80: 5rem;

  /* Interlignage (line-height) */
  --line-height-20: 1.25rem;
  --line-height-24: 1.5rem;
  --line-height-28: 1.75rem;
  --line-height-32: 2rem;
  --line-height-36: 2.25rem;
  --line-height-40: 2.5rem;
  --line-height-48: 3rem;
  --line-height-56: 3.5rem;
  --line-height-80: 5rem;
  --line-height-100: 6.25rem;
}
