/* ----------------------------------
 * Theme-tokens, généré par primary.alsacreations.com
 * Surcouche de theme.css
 * Configuration :
 * - Couleur primaire : red
 * - Theme : light et dark
 * - Typographie responsive : oui
 * - Espacements responsive : oui
 * ----------------------------------
 */

:root {
  /* Theme */
  color-scheme: light dark;

  &[data-theme="light"] {
    color-scheme: light;
  }

  &[data-theme="dark"] {
    color-scheme: dark;
  }

  /* Couleur primaire */
  --primary: ;
  --on-primary: ;
  --primary-lighten: ;
  --primary-darken: ;

  /* Couleur d'accent */
  --accent: ;
  --accent-invert: ;

  /* Surface du document */
  --surface: ;
  --on-surface: ;

  /* Niveaux de profondeur */
  --layer-1: ;
  --layer-2: ;
  --layer-3: ;

  /* Interactions */
  --link: ;
  --link-hover: ;
  --link-active: ;

  /* Couleur de sélection */
  --selection: ;

  /* États */
  --warning: ;
  --error: ;
  --success: ;
  --info: ;

  /* Bordures */
  --border-light: ;
  --border-medium: ;

  /* Tailles de police */
  --text-s: ;
  --text-m: ;
  --text-l: ;
  --text-xl: ;
  --text-2xl: ;
  --text-3xl: ;
  --text-4xl: ;

  /* Espacements */
  --spacing-xs: ;
  --spacing-s: ;
  --spacing-m: ;
  --spacing-l: ;
  --spacing-xl: ;

  /* Formulaires */
  --input-background: ;
  --on-input: ;
  --input-spacing: ;
  --input-border-width: ;
  --input-border-color: ;
  --input-border-radius: ;
  --checkables-border-color: ;
  --checkable-size: ;
}
