/* ----------------------------------
 * Theme du projet
 * ---------------------------------- */

/* stylelint-disable */
/* Custom Breakpoints */
@custom-media --md (width >= 48rem);
@custom-media --lg (width >= 64rem);
@custom-media --xl (width >= 80rem);
@custom-media --xxl (width >= 96rem);
@custom-media --until-md (width < 48rem);
@custom-media --until-lg (width < 64rem);
@custom-media --until-xl (width < 80rem);
@custom-media --until-xxl (width < 96rem);
/* stylelint-enable */

:root {
  /* Theme (color-scheme) */
  color-scheme: light;

  &[data-theme="light"] {
    color-scheme: light;
  }
  &[data-theme="dark"] {
    color-scheme: dark;
  }

  /* Couleurs (globales) */
  --color-white: oklch(1 0 0);
  --color-black: oklch(0 0 0);
  --color-gray-50: oklch(0.97 0 0);
  --color-gray-100: oklch(0.922 0 0);
  --color-gray-200: oklch(0.87 0 0);
  --color-gray-300: oklch(0.708 0 0);
  --color-gray-400: oklch(0.556 0 0);
  --color-gray-500: oklch(0.439 0 0);
  --color-gray-600: oklch(0.371 0 0);
  --color-gray-700: oklch(0.269 0 0);
  --color-gray-800: oklch(0.205 0 0);
  --color-gray-900: oklch(0.145 0 0);
  --color-error-100: oklch(0.97 0.1 27.52);
  --color-error-300: oklch(0.7054 0.19 27.52);
  --color-error-500: oklch(0.5054 0.19 27.52);
  --color-error-700: oklch(0.3554 0.19 27.52);
  --color-error-900: oklch(0.2054 0.11 27.52);
  --color-success-100: oklch(0.9446 0.13 150.685);
  --color-success-300: oklch(0.7166 0.13 150.73);
  --color-success-500: oklch(0.5166 0.13 150.73);
  --color-success-700: oklch(0.3666 0.13 150.73);
  --color-success-900: oklch(0.2166 0.13 150.73);
  --color-warning-100: oklch(0.97 0.08 49.95);
  --color-warning-300: oklch(0.8315 0.17 49.95);
  --color-warning-500: oklch(0.6315 0.17 49.95);
  --color-warning-700: oklch(0.4815 0.17 49.95);
  --color-warning-900: oklch(0.3315 0.11 49.95);
  --color-info-100: oklch(0.97 0.09 256.37);
  --color-info-300: oklch(0.7133 0.18 256.37);
  --color-info-500: oklch(0.5133 0.18 256.37);
  --color-info-700: oklch(0.3633 0.18 256.37);
  --color-info-900: oklch(0.2133 0.11 256.37);

  /* Couleurs Tokens globales */
  /* Couleur primaire */
  --primary: var(--color-gray-500);
  --on-primary: var(--color-white);
  --primary-lighten: oklch(from var(--primary) calc(l * 1.2) c h);
  --primary-darken: oklch(from var(--primary) calc(l * 0.8) c h);

  /* Couleur d'accent */
  --accent: light-dark(var(--primary), var(--primary-lighten));
  --accent-invert: light-dark(var(--primary-lighten), var(--primary));

  /* Surface du document */
  --surface: light-dark(var(--color-white), var(--color-gray-900));
  --on-surface: light-dark(var(--color-gray-900), var(--color-gray-100));

  /* Niveaux de profondeur */
  --layer-1: light-dark(var(--color-gray-50), var(--color-gray-800));
  --layer-2: light-dark(var(--color-gray-100), var(--color-gray-700));
  --layer-3: light-dark(var(--color-gray-200), var(--color-gray-600));

  /* Interactions */
  --link: light-dark(var(--primary), var(--primary-lighten));
  --link-hover: light-dark(var(--primary-darken), var(--primary));
  --link-active: light-dark(var(--primary-darken), var(--primary));

  /* Couleur de sélection */
  --selection: light-dark(var(--primary-lighten), var(--primary-darken));

  /* États d'alerte */
  --warning: light-dark(var(--color-warning-500), var(--color-warning-300));
  --error: light-dark(var(--color-error-500), var(--color-error-300));
  --success: light-dark(var(--color-success-500), var(--color-success-300));
  --info: light-dark(var(--color-info-500), var(--color-info-300));

  /* Bordures */
  --border-light: var(--color-gray-400);
  --border-medium: var(--color-gray-600);

  /* Autres Primitives CSS globales */
  /* Transitions et animations */
  --transition-duration: 250ms;

  /* Niveaux de z-index */
  --z-under-page-level: -1;
  --z-above-page-level: 1;
  --z-header-level: 1000;
  --z-above-header-level: 2000;
  --z-above-all-level: 3000;

  /* Border radius */
  --radius-none: 0;
  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-24: 1.5rem;
  --radius-full: 9999px;

  /* Familles de police */
  --font-base: system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;

  /* Graisses de police */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* Espacements Primitives globales */
  --spacing-0: 0; /* 0px */
  --spacing-2: 0.125rem; /* 2px */
  --spacing-4: 0.25rem; /* 4px */
  --spacing-8: 0.5rem; /* 8px */
  --spacing-12: 0.75rem; /* 12px */
  --spacing-16: 1rem; /* 16px */
  --spacing-24: 1.5rem; /* 24px */
  --spacing-32: 2rem; /* 32px */
  --spacing-48: 3rem; /* 48px */

  /* Espacements Tokens */
  --spacing-xs: var(--spacing-4);
  --spacing-s: clamp(var(--spacing-4), 0.152rem + 0.4348vw, var(--spacing-8));
  --spacing-m: clamp(var(--spacing-8), 0.304rem + 0.8696vw, var(--spacing-16));
  --spacing-l: clamp(var(--spacing-16), 0.609rem + 1.7391vw, var(--spacing-32));
  --spacing-xl: clamp(
    var(--spacing-32),
    1.609rem + 1.7391vw,
    var(--spacing-48)
  );

  /* Typographie Primitives globales */
  --text-14: 0.875rem; /* 14px */
  --text-16: 1rem; /* 16px */
  --text-18: 1.125rem; /* 18px */
  --text-20: 1.25rem; /* 20px */
  --text-24: 1.5rem; /* 24px */
  --text-36: 2.25rem; /* 36px */
  --text-48: 3rem; /* 48px */
  --text-60: 3.75rem; /* 60px */

  /* Typographies tokens */
  --text-s: clamp(var(--text-14), 0.826rem + 0.2174vw, var(--text-16));
  --text-m: clamp(var(--text-16), 0.951rem + 0.2174vw, var(--text-18));
  --text-l: clamp(var(--text-18), 0.978rem + 0.6522vw, var(--text-24));
  --text-xl: clamp(var(--text-24), 1.207rem + 1.3043vw, var(--text-36));
  --text-xxl: clamp(var(--text-36), 1.663rem + 2.6087vw, var(--text-60));
}
