/* ----------------------------------
 * Theme du projet
 * ---------------------------------- */

/* stylelint-disable */
/* Custom Breakpoints */
@custom-media --md (width >= 48rem);
@custom-media --lg (width >= 64rem);
@custom-media --xl (width >= 80rem);
@custom-media --xxl (width >= 96rem);
@custom-media --until-md (width < 48rem);
@custom-media --until-lg (width < 64rem);
@custom-media --until-xl (width < 80rem);
@custom-media --until-xxl (width < 96rem);
/* stylelint-enable */

:root {
  /* Theme (color-scheme) */
  color-scheme: light;

  /* Couleurs Primitives globales */
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-slate-100: #F1F5F9;
  --color-slate-400: #90A1B9;
  --color-slate-700: #314158;
  --color-slate-800: #161F2C;
  --color-gray-50: #F5F5F5;
  --color-gray-100: #E5E5E5;
  --color-gray-200: #D4D4D4;
  --color-gray-300: #A1A1A1;
  --color-gray-400: #737373;
  --color-gray-500: #525252;
  --color-gray-600: #404040;
  --color-gray-700: #262626;
  --color-gray-800: #171717;
  --color-gray-900: #0A0A0A;
  --color-error-100: #FFECE8;
  --color-error-300: #FF675A;
  --color-error-500: #B91D1C;
  --color-error-700: #7C0000;
  --color-error-900: #3A0000;
  --color-success-100: #AAFFBF;
  --color-success-300: #60BA78;
  --color-success-500: #187C3E;
  --color-success-700: #005013;
  --color-success-900: #002401;
  --color-warning-100: #FFEEDD;
  --color-warning-300: #FFAE79;
  --color-warning-500: #D76300;
  --color-warning-700: #9D3B00;
  --color-warning-900: #5F1D00;
  --color-info-100: #E6F7FF;
  --color-info-300: #53A2FF;
  --color-info-500: #0063CB;
  --color-info-700: #003498;
  --color-info-900: #00134A;

  /* Couleurs Primitives du projet */
  --color-pink-50: #FFFFFF;
  --color-pink-100: #FFF1F8;
  --color-pink-200: #FFDFEB;
  --color-pink-300: #FFABCA;
  --color-pink-400: #F671A1;
  --color-pink-500: #DC598A;
  --color-pink-600: #B9386D;
  --color-pink-700: #971151;
  --color-pink-800: #661337;
  --color-pink-900: #390F1F;
  --color-pink-fade: #D88AA2;
  --color-pink-bright: #FF59A0;
  --color-sand-50: #FFFFFF;
  --color-sand-100: #FFF6F5;
  --color-sand-200: #F3EAE9;
  --color-sand-300: #CCBEBC;
  --color-sand-400: #B9A8A5;
  --color-sand-500: #9A8987;
  --color-sand-600: #7B6C6A;
  --color-sand-700: #5F504E;
  --color-sand-800: #3E3736;
  --color-sand-900: #251F1E;
  --color-sand-fade: #C8BFBE;
  --color-sand-bright: #CEBDBB;

  /* Couleurs Tokens globales */
  /* Couleurs d'accent */
  --accent-1: var(--color-pink-600);
  --accent-2: var(--accent-1);
  --accent-3: color-mix(in srgb, var(--accent-1), white 20%);

  /* Base */
  --base: var(--color-white);
  --contrast: var(--color-gray-900);
  --base-2: var(--color-sand-200);
  --base-3: var(--color-gray-100);

  /* Interactions */
  --link: var(--color-pink-500);
  --link-hover: var(--color-pink-700);
  --link-active: var(--color-pink-700);

  /* Couleur d'outline par défaut */
  --outline-color: #4285f4;

  /* Couleur de sélection */
  --selection: color-mix(in srgb, var(--accent-1), white 20%);

  /* États d'alerte */
  --warning: var(--color-warning-500);
  --error: var(--color-error-500);
  --success: var(--color-success-500);
  --info: var(--color-info-500);

  /* Autres Primitives CSS globales */
  /* Transitions et animations */
  --transition-duration: 250ms;

  /* Niveaux de z-index */
  --z-under-page-level: -1;
  --z-above-page-level: 1;
  --z-header-level: 1000;
  --z-above-header-level: 2000;
  --z-above-all-level: 3000;

  /* Border radius */
  --radius-none: 0;
  --radius-4: 0.25rem;
  --radius-8: 0.5rem;
  --radius-16: 1rem;
  --radius-24: 1.5rem;
  --radius-full: 9999px;

  /* Familles de police */
  --font-base: system-ui, sans-serif;
  --font-rubik: "Rubik Lines", sans-serif;
  --font-mono: ui-monospace, monospace;

  /* Graisses de police */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* Espacements Primitives globales */
  --spacing-0: 0; /* 0px */
  --spacing-2: 0.125rem; /* 2px */
  --spacing-4: 0.25rem; /* 4px */
  --spacing-8: 0.5rem; /* 8px */
  --spacing-12: 0.75rem; /* 12px */
  --spacing-16: 1rem; /* 16px */
  --spacing-24: 1.5rem; /* 24px */
  --spacing-32: 2rem; /* 32px */
  --spacing-40: 2.5rem; /* 40px */
  --spacing-48: 3rem; /* 48px */
  --spacing-80: 5rem; /* 80px */

  /* Espacements Tokens */
  --spacing-xs: var(--spacing-4);
  --spacing-s: clamp(var(--spacing-4), 0.152rem + 0.4348vw, var(--spacing-8));
  --spacing-m: clamp(var(--spacing-8), 0.304rem + 0.8696vw, var(--spacing-16));
  --spacing-l: clamp(var(--spacing-16), 0.609rem + 1.7391vw, var(--spacing-32));
  --spacing-xl: clamp(
    var(--spacing-32),
    1.609rem + 1.7391vw,
    var(--spacing-48)
  );
  --spacing-xxl: clamp(
    var(--spacing-40),
    1.522rem + 4.3478vw,
    var(--spacing-80)
  );

  /* Typographie Primitives globales */
  --text-14: 0.875rem; /* 14px */
  --text-16: 1rem; /* 16px */
  --text-18: 1.125rem; /* 18px */
  --text-20: 1.25rem; /* 20px */
  --text-24: 1.5rem; /* 24px */
  --text-36: 2.25rem; /* 36px */
  --text-48: 3rem; /* 48px */
  --text-60: 3.75rem; /* 60px */

  /* Typographies tokens */
  --text-s: clamp(var(--text-14), 0.826rem + 0.2174vw, var(--text-16));
  --text-m: clamp(var(--text-16), 0.951rem + 0.2174vw, var(--text-18));
  --text-l: clamp(var(--text-18), 0.978rem + 0.6522vw, var(--text-24));
  --text-xl: clamp(var(--text-24), 1.207rem + 1.3043vw, var(--text-36));
  --text-xxl: clamp(var(--text-36), 1.663rem + 2.6087vw, var(--text-60));
}
