/* ----------------------------------
 * Theme-tokens, surcouche de theme.css
 * Configuration :
 * - Couleur primaire : info
 * - Theme : light et dark
 * - Typographie responsive : oui
 * - Espacements responsive : oui
 * ----------------------------------
 */

:root {
  /* Formulaires */
  --input-background: light-dark(var(--color-gray-200), var(--color-gray-700));
  --on-input: light-dark(var(--color-gray-900), var(--color-gray-100));
  --input-spacing: var(--spacing-12) var(--spacing-16);
  --input-border-width: 1px;
  --input-border-color: var(--color-gray-400);
  --input-border-radius: var(--radius-16);
  --checkables-border-color: var(--color-gray-400);
  --checkable-size: 1.25em;
}
