:root {
  /* Couleurs (globales) */
  --color-white: oklch(100% 0 0);
  --color-black: oklch(0% 0 0);
  --color-gray-50: oklch(97% 0 0);
  --color-gray-100: oklch(92.2% 0 0);
  --color-gray-200: oklch(87% 0 0);
  --color-gray-300: oklch(70.8% 0 0);
  --color-gray-400: oklch(55.6% 0 0);
  --color-gray-500: oklch(43.9% 0 0);
  --color-gray-600: oklch(37.1% 0 0);
  --color-gray-700: oklch(26.9% 0 0);
  --color-gray-800: oklch(20.5% 0 0);
  --color-gray-900: oklch(14.5% 0 0);
  --color-error-100: oklch(97% 0.1 27.52);
  --color-error-300: oklch(70.54% 0.19 27.52);
  --color-error-500: oklch(50.54% 0.19 27.52);
  --color-error-700: oklch(35.54% 0.19 27.52);
  --color-error-900: oklch(20.54% 0.11 27.52);
  --color-success-100: oklch(94.462% 0.13 150.685);
  --color-success-300: oklch(71.66% 0.13 150.73);
  --color-success-500: oklch(51.66% 0.13 150.73);
  --color-success-700: oklch(36.66% 0.13 150.73);
  --color-success-900: oklch(21.66% 0.13 150.73);
  --color-warning-100: oklch(97% 0.08 49.95);
  --color-warning-300: oklch(83.15% 0.17 49.95);
  --color-warning-500: oklch(63.15% 0.17 49.95);
  --color-warning-700: oklch(48.15% 0.17 49.95);
  --color-warning-900: oklch(33.15% 0.11 49.95);
  --color-info-100: oklch(97% 0.09 256.37);
  --color-info-300: oklch(71.33% 0.18 256.37);
  --color-info-500: oklch(51.33% 0.18 256.37);
  --color-info-700: oklch(36.33% 0.18 256.37);
  --color-info-900: oklch(21.33% 0.11 256.37);

  /* Couleurs du projet (synthétisées) (OU placeholder raspberry) */

  /* Couleurs personnalisées */

  /* Couleurs personnalisées extrapolées */
}
