:root {
  /* Theme */
  color-scheme: light dark;

  &[data-theme="light"] {
    color-scheme: light;
  }

  &[data-theme="dark"] {
    color-scheme: dark;
  }

  /* Couleur primaire */
  --primary: var(--color-info-500);
  --on-primary: var(--color-white);
  --primary-lighten: oklch(from var(--primary) calc(l * 1.2) c h);
  --primary-darken: oklch(from var(--primary) calc(l * 0.8) c h);

  /* Couleur d'accent */
  --accent: light-dark(var(--primary), var(--primary-lighten));
  --accent-invert: light-dark(var(--primary-lighten), var(--primary));

  /* Surface du document */
  --surface: light-dark(var(--color-white), var(--color-gray-900));
  --on-surface: light-dark(var(--color-gray-900), var(--color-gray-100));

  /* Niveaux de profondeur */
  --layer-1: light-dark(var(--color-gray-50), var(--color-gray-800));
  --layer-2: light-dark(var(--color-gray-100), var(--color-gray-700));
  --layer-3: light-dark(var(--color-gray-200), var(--color-gray-600));

  /* Interactions */
  --link: light-dark(var(--primary), var(--primary-lighten));
  --link-hover: light-dark(var(--primary-darken), var(--primary));
  --link-active: light-dark(var(--primary-darken), var(--primary));

  /* Couleur de sélection */
  --selection: light-dark(var(--primary-lighten), var(--primary-darken));

  /* États */
  --warning: light-dark(var(--color-warning-500), var(--color-warning-300));
  --error: light-dark(var(--color-error-500), var(--color-error-300));
  --success: light-dark(var(--color-success-500), var(--color-success-300));
  --info: light-dark(var(--color-info-500), var(--color-info-300));

  /* Bordures */
  --border-light: var(--color-gray-400);
  --border-medium: var(--color-gray-600);
}
