:root {
  /* Tailles de police */
  --text-s: var(--text-14);
  --text-m: clamp(var(--text-16), 0.9565rem + 0.2174vw, var(--text-18));
  --text-l: clamp(var(--text-18), 1.0761rem + 0.2174vw, var(--text-20));
  --text-xl: clamp(var(--text-20), 0.957rem + 1.3043vw, var(--text-32));
  --text-2xl: clamp(var(--text-24), 1.2065rem + 1.3043vw, var(--text-36));
  --text-3xl: clamp(var(--text-32), 1.609rem + 1.7391vw, var(--text-48));
  --text-4xl: clamp(var(--text-48), 2.1818rem + 3.6364vw, var(--text-80));

  /* Hauteurs de lignes */
  --line-height-s: clamp(
    var(--line-height-20),
    1.1522rem + 0.4348vw,
    var(--line-height-24)
  );
  --line-height-m: clamp(
    var(--line-height-24),
    1.4022rem + 0.4348vw,
    var(--line-height-28)
  );
  --line-height-2xl: clamp(
    var(--line-height-32),
    1.9022rem + 0.4348vw,
    var(--line-height-36)
  );
  --line-height-5xl: clamp(
    var(--line-height-40),
    1.8152rem + 3.0435vw,
    var(--line-height-68)
  );
  --line-height-4xl: clamp(
    var(--line-height-40),
    2.1087rem + 1.7391vw,
    var(--line-height-56)
  );
  --line-height-6xl: clamp(
    var(--line-height-80),
    4.5109rem + 2.1739vw,
    var(--line-height-100)
  );
}
